
[mysqld]                                            #settings for mariadb
user                    = root                      
bind-address            = 0.0.0.0                   #enable connection for all IP
datadir                 = /var/lib/mysql            #main directory
character-set-server    = utf8mb4                   #set character format, utf8mb4 = all Unicode characters
collation-server        = utf8mb4_general_ci        #set sorting format, general_ci no Capital and small letters
